<div class="jumbotron text-center">
    <h1>Mean Authentication App</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure consectetur odio eum nulla, vel fugiat. Officia voluptate, illo cumque iste deserunt explicabo odio consectetur unde quae minima repellat tempore est!                                    </p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row " style="padding-left: 25px;padding-right: 25px;">
    <div class="col-md-6">
        <h3>Hanna</h3>
        <p>Both sentences are using the green-text class; that’s why they have green colored text. However, the first sentence also uses the font-36 class, which turns the text’s size to 36 pixels and makes it bigger than the other sentence.</p>
    </div>
    <div class="col-md-6">
        <h3>Jasper</h3>
        <p>Keep in mind that you can use both classes if you separate them with a single space. You should also put the class inside the relevant HTML tag to make it work.                                                                                                      </p>
    </div>
</div>